body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.background-top {
  background-image: url(https://static.foodizzi.com/images/2019/10/17/1910172403_1903018014_1.jpg);
  background-size: 100%;
  background-position: center;
  height: 100%;
  position: relative;
}

.background-top .overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.background-top .text-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.button-middle a {
  padding: 10px 32px;
  border: 2px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 50px;
  transition: background-color 0.5s, color 0.5s;
  font-weight: 600;
}

.button-middle a:hover {
  background-color: #ffffff;
  color: #000000;
}

.filler {
  height: 100px;
}

span.text-middle-small {
  font-size: 14px;
  display: inline-block;
}

span.text-middle-small::before, span.text-middle-small::after {
  content: "";
  background-color: gray;
  width: 35px;
  height: 1px;
  margin: 0 15px;
  display: inline-block;
  vertical-align: super;
}

h2.text-middle-large {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 500px;
  font-size: 50px;
  font-weight: 600;
}