body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.content-header {
  margin: 0 auto;
  width: 400px;
  align-items: center;
  padding-bottom: 70px;
}

.content-header h2, .content-header h5 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.content-header h2 {
  font-size: 30px;
  font-weight: 700;

  display: block;
  padding-bottom: 20px;
}

.content-header h5 {
  color: rgb(147, 147, 147);
  font-weight: 500;
  font-size: 12px;
}

.article-content {
  font-size: 14px;
  color: rgb(111, 111, 111);
  line-height: 1.5rem;
  padding-bottom: 5px;
}

.business-detail {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detail-article {
  flex-basis: 47%;
  padding-bottom: 30px;
}

.article-logo {
  display: block;
  padding-bottom: 5px;
}

.article-title {
  font-weight: 600;
  font-size: 14px;
  display: block;
  padding-bottom: 20px;
}

.italic {
  font-style: italic;
}