* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(247, 247, 247);
}
/* Universal change */

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.2s ease-in;
}

.navbar {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  color: #000000;
}


/* Logo section */
.company-logo {
  display: block;
  margin-right: auto;
}

.company-logo img {
  width: 120px;
}


/* Menu section */
.menu * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.menu-main {
  display: flex;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.menu-main > li > a {
  color: #ffffff;
}

.menu-main > li:hover > a {
  color: rgba(255, 255, 255, 0.6);
}

/* Navbar, menu & white background */
.wrapper.white {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgb(157, 157, 157);
}

.menu-main.white > li > a {
  color: #000000;
}

.menu-main.white > li:hover > a {
  color: rgba(0, 0, 0, 0.6);
}


/* Has link */
.has-link a {
  display: block;
  padding: 25px 30px;
  transition: color 0.2s ease-in;
}

/* Has submenu */
.has-submenu {
  position: relative;
}

/* Submenu 1 */
.submenu-1 {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(35, 35, 35);
  display: none;
}

.has-submenu:hover > .submenu-1 {
  display: block;
}

.submenu-1 > li > a {
  display: inline-block;
  color: rgb(157, 157, 157);
  padding: 15px 30px;
  transition: transform 0.3s;
}

.submenu-1 > li {
  display: block;
}

.submenu-1 a:hover {
  color: #ffffff;
}

/* Submenu 2 */
.submenu-2 {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: rgb(35, 35, 35);
  white-space: nowrap;
  display: none;
}

.has-submenu:hover > .submenu-2 {
  display: block;
}

.submenu-2 > li {
  display: block;
}

.submenu-2 > li > a {
  display: inline-block;
  color: rgb(157, 157, 157);
  padding: 15px 20px;
}

.submenu-2 a:hover {
  color: #ffffff;
}

/* Text styling */
.capitalize a {
  text-transform: capitalize;
}

/* Transformation */
.submenu-1 a:hover.translate-right {
  transform: translate(10px, 0);
}